/pertemuan7/jobsheet7/nbproject/private/
/pertemuan7/jobsheet7/build/
/UTS/uts/nbproject/private/
/UTS/uts/build/
/pertemuan9/Jobsheet9/nbproject/private/
/pertemuan9/Jobsheet9/build/
/pertemuan10/PBOMinggu10/nbproject/private/
/pertemuan10/PBOMinggu10/build/
/pertemuan11/PBOMinggu11/nbproject/private/
/pertemuan11/PBOMinggu11/build/
/pertemuan12/PBOMinggu12/nbproject/private/
/pertemuan12/PBOMinggu12/build/
/pertemuan12/jobsheet12teori/nbproject/private/
/pertemuan12/jobsheet12teori/build/
/QUIZ/Quiz2/nbproject/private/
/QUIZ/Quiz2/build/