/pertemuan7/jobsheet7/nbproject/private/
/pertemuan7/jobsheet7/build/
/UTS/uts/nbproject/private/
/UTS/uts/build/
/pertemuan9/Jobsheet9/nbproject/private/
/pertemuan9/Jobsheet9/build/
/pertemuan10/PBOMinggu10/nbproject/private/
/pertemuan10/PBOMinggu10/build/